
 @import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Nanum+Gothic+Coding&family=Noto+Sans+JP&family=Noto+Serif+JP&family=Short+Stack&display=swap');

:root {
    --color-accent: #ff8091f8;
    --bg-color: linear-gradient(45deg, rgba(255, 255, 255, 1) 19%, rgba(255, 221, 236, 1) 73%);
    --text-color:rgb(70,70,70);
    --text-color-dark: #212529;
    --bg-button:  rgba(0, 0, 0, 0.2);
    --bg-nav: rgba(0, 0, 0, 0.2);
}

/*-----------------------------------
ANCHOR DEFAULT
-----------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-image: linear-gradient(180deg, #6cb1ff, #91a1ff, #ff95c6);
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
}


html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1rem;
    background-color: #FEFEFE;
    background-image: url("../assets/q01-bg-heart.png");
    color: var(--text-color);
    background-position: top;
    background-size: auto;
    background-repeat: repeat-x;
    letter-spacing: 1px;
}


a, a:visited, a:active {
    color: var(--color-accent);
    text-decoration: none;
    transition: 0.2s;

}

a:hover {
    text-decoration: none;
}

/*-----------------------------------
SECTION LAYOUT
-----------------------------------*/



/*ANCHOR HEADER*/
header {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;   
    width: 100%;
    position: relative;
    height: 250px;
}


.stars_small{
    background-size: 100px;
    background-position: center;
}


.flashing span {
    position: relative;
    text-shadow:#fff 0px 0px 3px,#fff 0px 0px 3px,#fff 0px 0px 3px,#fff 0px 0px 3px,#fff 0px 0px 3px,#fff 0px 0px 3px,#fff 0px 0px 3px,
    #fff 0px 0px 3px,#fff 0px 0px 3px,#fff 0px 0px 3px,#fff 0px 0px 3px,#fff 0px 0px 3px,#fff 0px 0px 3px,#fff 0px 0px 3px;
    display: inline-block;
    color:  #e7b100;
    text-transform: uppercase;
    animation: flashing 1s infinite;
    animation-delay: calc(.1s * var(--i));
    
  }
  @keyframes flashing {
    0%,40%,100% {
      color: #e7b100;
    }
    20% {
        color: #fff;
    }
  }

header h1, h2 {
    text-align: center;
}

#intro {
    display: flex;
    align-items: baseline;
}

#intro h1 {
    font-size: 5rem;
    font-weight: normal;
    letter-spacing: 5px;
}

.tagline {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    letter-spacing: 3px;
    text-align: center;
}


/*ANCHOR MAIN CONTENT*/
main {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    position: relative;
    justify-content: flex-start;
}

#portfolio {
    margin-top: 0;
}

.themes h2 {
    font-size: 2rem;
    margin: 5rem 0;
    letter-spacing: 3px;
}

.data {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.all_themes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#more {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../assets/sparkles.gif");
    background-size: 300px;
    background-repeat: space;
}

#contact {
    margin: 3rem 0;
}

#contact h2, h3 {
    text-align: center;
}

/*ANCHOR FOOTER*/
footer {
    text-align: center;
    padding-bottom: 1rem;
    letter-spacing: 2px;
}

footer img {
    vertical-align: middle;
    margin-bottom: 5px;
}

/*-----------------------------------
!SECTION LAYOUT
-----------------------------------*/

/*-----------------------------------
SECTION POSTS FORMAT
-----------------------------------*/

.post {
    margin-bottom: 4rem;
    display: flex;
    box-sizing: border-box;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    width: 600px;
}

.themes .window-body {
    background-position: top center;
    background-size: cover;
    padding: 0 !important;
    letter-spacing: 2px;
}

.video-project {
    width: 100%;
}

.info {
    font-size: 1.1rem;
    margin: 0px 2rem;
}

.theme_links {
    margin-top: 1rem;
}

.theme_links img {
    vertical-align: baseline;
}


/*-----------------------------------
!SECTION POSTS FORMAT
-----------------------------------*/

/*-----------------------------------
SECTION UTILS
-----------------------------------*/

.line-1{
    position: relative;
    white-space: nowrap;
    overflow: hidden;   
}

.stars-sm-bg {
    background-image: url("../assets/sparkles.gif");
    background-size: 200px;
    width: 100%;
}

.stars-xs-bg {
    background-image: url("../assets/sparkles.gif");
    background-size: 100px;
}

.triangle {
    font-size: 2rem;
    vertical-align: top;
    opacity: 0;
    animation: none;
}

.preview .triangle {
    font-size: 1.2rem;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.preview {
    padding: 0px 5px;
    outline: none;
    cursor: pointer;
    font-size: 1.2rem;
    letter-spacing: 2px;
}

#top_button {
    all: unset;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    color: var(--text-color);
    z-index: 105;
    height: 1.6rem;
    padding: 0px 10px;
    outline: none;
    cursor: pointer;
    font-size: 1.2rem;
    letter-spacing: 2px;
}

#top_button span {
    letter-spacing: 0px;
}


.fade-enter, .fade-leave-to {
    opacity: 0;
    transform: translateY(-80px);
    transform: scale(0.0)
}

.fade-leave-active {
    position: absolute;
}


@keyframes drop {
    0% {
        opacity: 0
    }

    0% {
        transform: translateY(-700px)
    }

    70% {
        transform: translateY(20px)
    }

    100% {
        transform: translateY(0px)
    }
}

.animation {
    animation: drop 1s ease forwards;
    animation-iteration-count: 1;
}

.main-title {
    text-align: center;
    color: var(--color-accent);
}

.skipLink {
    white-space: nowrap;
    margin: 1em auto;
    top: 0;
    position: fixed;
    left: 50%;
    margin-left: -72px;
    opacity: 0;
  }

.skipLink:focus {
    opacity: 1;
    background-color: white;
    padding: 0.5em;
    border: 1px solid black;
  }

  .goback {
    position: absolute;
    top: 10px;
    left: 12px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    z-index: 1;
    text-shadow: 1px 1px 2px #999;
}

.goback:hover, .goback:active, .goback:visited {
    color: #fff;
}

/*-----------------------------------
!SECTION UTILS
-----------------------------------*/

/*-----------------------------------
SECTION MOBILE
-----------------------------------*/

@media only screen and (max-width: 768px) {

    main {
        flex-direction: column;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .stars_cover {
        background-repeat: repeat;
    }

    .btn_portfolio a {
        font-size: 1.5rem;
    }

    .menu_mobile {
        display: block;
       
    }

    .side_box.recent, .side_box.stats {
        display: none;
    }

    .side {
        width: 100%;
        position: static;
    }

    .post {
        width: 100%;
        flex-direction: column-reverse !important;
    }

    header {
        padding-top: 0px;
    }

    .info {
        margin: 2rem 0;
    }
    
    .menu {
        top: 0;
        left: 0;
    }

    .sidenav {
        height: 100%;
        font-size: 20px;
        width: 250px;
        position: fixed;
        top: 0;
        left: 0;
        backdrop-filter: blur(10px);
        background-color: var(--bg-nav);
        border-right: 1px solid white;
        padding: 60px 10px 0px 10px;
        transition: 0.5s;
        transform: translateX(-250px);
        display: flex;
        flex-direction: column;
        z-index: 900000001;
        justify-content: flex-start;
    }

    .menulinks {
        flex-direction: column;
    }

    .sidenav a {
        font-size: 25px;
        letter-spacing: 2px;
    }


    #top_button {
        right: 10px;
    }

}

/*-----------------------------------
!SECTION MOBILE
-----------------------------------*/