<!DOCTYPE html>
<html lang="en">
<!--
    *Cool Layouts by Pale*
    Thanks for your interest inspecting this page.
    All the icons are from https://foollovers.com/
-->
<head>
    <title>Cool Layouts by Pale</title>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="assets/back01.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <link rel="stylesheet" href="css/style.css" />
    <meta name="description" content="Cool Layouts coded by Pale for the web. Free to use :)">
</head>

<body>
    <a href="#main" ref="skipLink" class="skipLink">Skip to main content</a>
    <a href="../resources.html" class="goback">Go back to resources</a>
    <header>
        <h1 class="flashing stars-sm-bg text-center" href="#portfolio" aria-label="Click here to check out my work">
            <span style="--i:1">C</span>
            <span style="--i:2">o</span>
            <span style="--i:3">o</span>
            <span style="--i:4">l</span>
            <span style="--i:5"> </span>
            <span style="--i:6">L</span>
            <span style="--i:7">a</span>
            <span style="--i:8">y</span>
            <span style="--i:9">o</span>
            <span style="--i:10">u</span>
            <span style="--i:11">t</span>
            <span style="--i:12">s</span>
        </h1>
        <p class="tagline">
           By Pale. Feel free to use all the layouts found here.
        </p>
    </header>
    <main class="container-fluid" id="themes">
        <section id="portfolio" class="container themes">
            <transition-group name="fade" tag="div" class="all_themes" mode="out-in">
                <div class="post row" v-for="element in filteredItems" :key="element.name">
                    <div class="col info">
                        <span class="fs-3">{{element.name}}</span>
                        <div class="data">
                            <img class="ms-3"
                                 src="assets/ba06-icon-pc.gif" alt="a computer icon" /> {{element.type}}
                         </div>
                        <div :aria-label="element.name+' project screenshoot. Looks cool.'" class="window-body wow animate__fadeIn" data-wow-duration="2s" data-wow-offset="50">
                            <video class="video-project" autoplay muted loop>
                                <source v-bind:src="element.img" type="video/webm">
                              Your browser does not support the video tag.
                            </video>
                        </div>
                        <div class="theme_links">
                            <a class="preview stars-xs-bg" title="Preview the layout" v-show="element.prev1 != null" v-bind:href="element.prev1"
                                target="_blank">
                                Preview
                            </a>
                            <a class="preview stars-xs-bg" title="Download the source code"  v-bind:href="element.code"
                                target="_blank">
                                Code
                            </a>
                        </div>
                    </div>
                </div>
            </transition-group>
        </section>
        <section>
            <h2>Terms of Use</h2>
            <ul>
                <li>Feel free to rewrite HTML, CSS, and Javascript as you want and modify the general appearance of the layout as you want.</li>
                <li>I would appreciate if you don't remove the credits.</li>
                <li>Don't redistribute the original source code and claim as yours.</li>
            </ul>
            <p class="mt-5">
                - Terms are subject to change without notice.
                <br/>
                - Code is subject to change without notice.
            </p>
            
        </section>
    </main>
    <footer>
        Made with <img src="assets/aa10-icon-heart.gif" alt="Heart icon" /> by <a href="https://palemomos.neocities.org/cool-layouts/index.html">Pale</a>. Icons and bg from <a href="https://foollovers.com/index.html" target="_blank" title="FoolLovers.com"><img alt="FoolLovers.com Icon"src="assets/foollovers3212.gif" /></a>
    </footer>
    <button onclick="topFunction()" id="top_button" title="Go to top">TOP</button>
    <script src="js/main.js"></script>
</body>
</html>